@page

<h1>Our Project (2024 MLB Reg Season Stats)</h1>

<div>
    <p> 
        <h3>We Did</h3>
        - Prededfined MySQL queries and visualization on Graphs page
        <br>
        - User input based MySQL queries and visualization between two entities on Comparisons page
        <br>
        - Showed tables from database on all other pages
        <br><br><br>
       <h3>We Learned</h3>
        - MySQL queries
        <br>
        - Azure database service / Hosting
        <br>
        - C# .NET web servers
        <br>
        - ajax for async JS
        <br>
        - Bootstrap styling 
        <br>
        - highcharts graphing in C#
        <br><br><br>
        <h3>Future Work</h3>
        - Normalize data (remove records with all null values)
        <br>
        - Get domain for server 
        <br>
        - Get all data from API endpoint (some is missing in player data due to API token limits)
        <br>
        - Create more queries for the graphs page
    </p>

</div>